@model BetweenFriends.Models.FriendsViewModel

@{
    ViewBag.Title = "RequestFriend";
   
}
<br />
<h3>Request Friends</h3>

@*Request Friends*@


@using (Html.BeginForm())
{
   
    @Html.HiddenFor(m => m.LoggedInCustomer)
    <div class="form-group">
        @Html.LabelFor(m => m.RequestedCustomerId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.RequestedCustomerId, Model.AvailableToRequest,"--Select User From List--" ,new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default" value="Send Request" />
        </div>
    </div>

}

<br />
<br />
<br />
<br />
<br />
<h3>Pending Requests</h3>
<div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].RequesteeId.FullName)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Requests)
        {
            if (Model.LoggedInCustomer.CustomerId == item.CustomerIdTwo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequesterId.FullName)
                    </td>

                    <td>
                        @Html.ActionLink("Accept", "AcceptFriendRequest", new { id = item.PendingRequestId }) |
                        @Html.ActionLink("Decline", "DeclineFriendRequest", new { id = item.PendingRequestId }) 

                    </td>
                </tr>
            }
        }

    </table>
    <h3>My Pending Requests</h3>
    <div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Requests[0].RequesteeId.FullName)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.Requests)
            {
                if (Model.LoggedInCustomer.CustomerId == item.CustomerIdOne)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequesteeId.FullName)
                        </td>

                        <td>
                            @Html.ActionLink("Cancel", "CancelFriendRequest",new { id = item.PendingRequestId }) 
                           
                            
                        </td>
                    </tr>
                }
            }

        </table>

    </div>





@*See pending friend requests*@