@model BetweenFriends.Models.BetweenFriendsModels.PendingRequests

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PendingRequests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequesteeId.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesteeId.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequesterId.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesterId.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PendingRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
