@model IEnumerable<BetweenFriends.Models.BetweenFriendsModels.PendingRequests>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequesteeId.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequesterId.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequesteeId.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequesterId.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PendingRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PendingRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PendingRequestId })
        </td>
    </tr>
}

</table>
